header {
    height: 60px;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar h1 {
    text-align: center;
    color: rgb(58, 42, 7);
    text-transform: capitalize;
    font-size: 20px;
}

/* Effects */
header .navbar h1::selection {
    background-color: #FFF;
}

/* Nav */
header .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar ul li {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    transition-property: background, border-radius;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}


/* Effects */
.navbar ul li:hover {
    border-radius: 50%;
    background-color: rgb(3, 53, 94);
    transition-duration: .5s;
    transition-property: background, border-radius;
    transition-timing-function: ease-in-out;
}