header {
    height: 60px;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar h1 {
    text-align: center;
    color: var(--saddlebrown);
    text-transform: capitalize;
    font-size: 20px;
}