.searchbox {
    width: 300px;
    height: auto;
    border-radius: 2px;
    border: 2px solid var(--saddlebrown);
    background-color: pink;
    position: relative;
}
.searchbar {
    height: 40px;
}
.searchbar input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-image: url(../icons/search.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-blend-mode: multiply;
    background-size: 20px;
}
.search-result {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 2px solid black;
}
.search-result ul {
    max-height: 250px;
    overflow-y: auto;
    background-color: green;
}
.search-result ul li {
    padding: 10px;
    font-size: 12px;
}